svg {
  font: 11px sans-serif;
  z-index: 4;
}

text {
	fill: #000;
  opacity: 0.6;
}
text.item-title {
  fill: #000;
  font-size: 14px;
  opacity: 0.6;
  text-anchor: end;
}
text.item-key {
  fill: #000;
  font-size: 9px;
  text-anchor: start;
  opacity: 0.6;
}


.item-text .item-text-background {
	fill: #000;
  opacity: 0.8;
}
.item-text text {
  font-size: 1.3em;
  fill: #fff;
  opacity: .8;
}

.cross {
  stroke: #000;
  fill: transparent;
  opacity: 0.35;
}
.cross.alert {
  stroke: #f17;
  opacity: 1;
}
.cross.completed {
  stroke: #000;
  fill: #000;
  opacity: 1;
}

.circle {
  fill: #000;
  opacity: 0.35;
}

.lab-line {
	stroke: #000;
	opacity: 0.5;
}

.total-range {
  fill: #000;
  fill-opacity: 0.155;
}

.normal-range {
	fill: #000;
	fill-opacity: 0.125;
}

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.handle {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
